.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.nav-links {
  padding: 1em;
}

.site-header {
  background-color: rgb(0, 0, 0, 0.8);
}



.jumbotron.jumbotron-fluid.text-center.welcome {
    padding-top: 5em;
}


/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
      .jumbotron.jumbotron-fluid.text-center.welcome {
        padding: 10em;
    }

   }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 


 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }